.h5-rating {
  text-align: "left";
}

form {
  margin-bottom: 20px;
  margin-left: 10px;
  align-content: left;
  
}

/* label {
  align-items: right;
  align-content: right;
} */

label {
  width: 273px;
  clear:left;
  text-align:left;
  padding-right:0px;
}

select, label {
  float:right;
  margin-left: 100px;
}

.thumbnail {
  display: inline-block;
}
