.thumbnail {
  background: #fff;
  border-radius: 3px;
  height: 275px;
  margin: 1rem;
  position: relative;
  width: 275px;
  box-shadow: 0 6px 12px #999, 0 3px 6px #999;
  text-align: left;
  display: inline-block;
}

.thumbnail > .thumbnail-container {
  height: 70%;
  overflow: hidden;
  text-align: center;
  background: #2e91a3;
}
.thumbnail > .thumbnail-container > img {
  width: 60%;
}

.thumbnail > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
  padding-top: 8px;
}

p {
  text-align: center;
  color: #2e91a3;
}