.thumbnail {
  border-radius: 8px;
  height: 175px;
  margin: 1rem;
  position: relative;
  width: 175px;
  box-shadow: 2px 3px 6px #38bcdb, 2px 3px 6px #38bcdb;
  border: 6px solid #ddd;
  display: inline-block;
}

.thumbnail > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.p_thumbnail {
  padding-top: 20px;
}
